<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container text-center">
    <h1>Your password is : </h1>
    <h2 class="alert alert-success">{{ password }}</h2>

    <a href="{% url 'home' %}" class="btn btn-warning">Home</a>
    
    <!--
    <form action="{% url 'password' %}">
        {% if upp != 'None' %}
        <input type="hidden" name="uppercase" value="on">
        {% endif %}

        {% if spec != 'None' %}
        <input type="hidden" name="special" value="{{ spec }}">
        {% endif %}

        {% if num != 'None' %}
        <input type="hidden" name="numbers" value="{{ num }}">
        {% endif %}

        <input type="hidden" name="length" value="{{ len }}">
        <input type="submit" class="btn btn-warning" value="Again">
    </form>
    -->
</div>